body {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

div {
  text-align: center;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#left_column, #right_column {
  flex: 1;
  background-color: #A12222;
}

#game_wrapper {
  flex: 2;
  background-color: white;
  border-left: 0.2em solid black;
  border-right: 0.2em solid black;
  overflow: scroll;
}

#header {
  color: black;
  width: 100%;
}

#main {
  flex-basis: 80%;
}

.gameon {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gamewon {
  display: none;
}

.gamewon {
  display: none;
}

.gamelost {
  display: none;
}

.gamewon > p, .gamelost > p {
  margin: 2em;
}

.upper_section {
  flex: 1;
  background-color: black;
  padding: 2em;
}

.lower_section {
  flex: 2;
  flex-basis: 60%;
  padding: 2em;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 4em;
  color: #F49E33;
  text-shadow: -0.02em 0 black, 0 0.02em black, 0.02em 0 black, 0 -0.02em black;
}

p {
  font-family: 'Quicksand', sans-serif;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.2em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.result {
  padding: 3em;
  color: #E73131;
}

input {
  font-size: 3em;
  text-align: center;
  width: 1em;
  border: 0.1em solid;
  margin: 1em 1em 0.2em 1em;
}

span {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

button {
  background-color: #E73131;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8em;
  color: white;
  border: 0.1em solid black;
  padding: 1em;
  margin-top: 1em;
}

#tip {
  color: #FBB43A;
  font-weight: lighter;
  font-size: 1em;
  font-style: italic;
}

#word_board {
  color: white;
  margin-bottom: 1.2em;
  font-size: 1.3em;
}

#notification {
  color: #E73131;
  margin-bottom: 3em;
}

.score_board {
  color: black;
  font-family: 'Quicksand';
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  #left_column, #right_column {
    flex: 1;
  }

  #game_wrapper {
    flex: 8;
  }
}

@media screen and (max-width: 360px) {
  #left_column, #right_column {
    flex: 0.5;
  }

  #game_wrapper {
    flex: 10;
  }
}

@media screen and (max-height: 600px) {
  input {
    margin: 0;
  }

  p {
    font-size: 0.9em;
  }

  .lower_section {
    padding: 1em;
  }

  #word_board {
    margin-bottom: 1em;
    font-size: 1.2em;
  }

  #notification {
    margin: 0.4em 0em 1em 0em;
  }

  span {
    font-size: 1.2em;
  }

}
